@media all and (orientation:landscape) {
   body{
      overflow-x:hidden;
      font-family:Arial;
        padding-top:0;
      letter-spacing: calc(0.09vw);
    }
    .topnav {
      display:none;
    }
    .topnav #myLinks {
      display: none;
    }
    .topnav a {
      display:none;
    }
    .topnav img {
      display:none;
    }
    div.header {
      height: calc(5vh);
      width: calc(88vw);
      background-color: #0a5807e2;
      padding-left: calc(1vw);
      padding-right: calc(1vw);
      padding-top: calc(9vh);
      margin-bottom: calc(-1vh);
      margin-top: calc(-7.5vh);
      border-radius: calc(0.5vw);
      color: white;
      top: 0;
      position: fixed;
      left: 50%;
      transform: translateX(-50%); /* Centers the header horizontally */
      z-index: 100;
  }
  
    div.header span{
      position:relative;
      margin-right:calc(3.1vw);
      margin-left:calc(3.1vw);
    }
    .closethree{
      position:absolute;
      display:none;
      cursor:pointer;
      padding: 0;
      border: none;
      background: none;
      font-size: calc(4vw);
      left:calc(2vw);
      color: grey;
    }
    div.header span a{
        text-shadow: calc(0.1vw) calc(0.1vw) #000000;
        color:white;
        text-decoration: none;
        font-size:calc(1.45vw);
        font-weight: 100;
        letter-spacing: calc(0.3vw);
        border-bottom: solid 1px #FFFFFF00;
        transition: 0.5s;
    }
    div.header span a:hover{
        border-bottom: solid 1px white;
        transition: 0.5s;
    }
      
    div.header::after {
        content: " ";
        display: inline-block;
        width: calc(100vw);
    }
    .biglogo{
      transition:0.3s;
      position:fixed;
      top:calc(2vh);
      width:calc(12vw);
      left:calc(43.5vw);
      z-index:101;
    }
    .smalllogo{
      transition:0.3s;
      position:fixed;
      top:calc(0.1vh);
      width:calc(5vw);
      left:calc(46.7vw);
      z-index:101;
    }
    #logoi{
      transition:0.3s;
      position:fixed;
      top:calc(0.1vh);
      width:calc(5vw);
      left:calc(46.5vw);
      z-index:101;
    }
    div.img img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top:calc(-1.5vh);
      z-index: 30;
      width: 90vw;
      height: 101.5vh;
      object-fit: cover; /* Ensures the image covers the container while maintaining aspect ratio */
  }

    .title{
        position:absolute;
        font-size:calc(2vw + 2vh);
        color:white;
        text-shadow:calc(0.1vw) calc(0.1vw) black;
        font-weight:bold;
        letter-spacing: calc(0.3vw);
        line-height:calc(5vw);
        left:calc(13vw);
        top: calc(24vw);
    }
    .seperator{
      height:calc(16vw);
      width:calc(102vw);
      margin-left:calc(-1vw);
      margin-top:calc(10vh);
      margin-bottom:calc(1vh);
      background-color:whitesmoke;
    }
    div.threeparts{
      z-index: -1;
        padding-top:10%;
        text-align: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
        height:calc(43vw);
        width: calc(65vw);
    }
    h3{
      margin-top:calc(0.8vw);
      font-size:calc(1.8vw);
      margin-bottom:calc(0.5vw);
    }
    div.threeparts div.left{
        cursor:pointer;
        background-color: whitesmoke;
        width:20%;
        left:5%;
        height:calc(42vw);
        position:absolute;
        transition:0.5s;
        margin-left:10%;
    }
    div.threeparts div.mid{
      cursor:pointer;
      background-color: whitesmoke;
        width:20%;
        left:40%;
        height:calc(42vw);
        position:absolute;
        transition:0.5s;
    }
    div.threeparts div.right{
      cursor:pointer;
      background-color: whitesmoke;
      width:20%;
      left:65%;
      height:calc(42vw);
      position:absolute;
      transition:0.5s;
    }
    .orgimg{
        width:100%;
        height:auto;
        margin-bottom:0;
        transition:0.5s;
    }
    .altimg{
        width:40%;
        height:auto;
        margin-top:-7%;
    }
    .text{
      width:90%;
      height: 51%;
      overflow:hidden;
      display: -webkit-box;
    -webkit-line-clamp: 11;
    -webkit-box-orient: vertical;
    }
    div.threeparts div.text{
      margin-left:5%;
      margin-right:5%;
      text-align: justify;
      line-height:calc(2vw);
      font-size:calc(1.2vw);
    }
    .top{
      width:calc(100vw);
    }

.imglefttextright{
  width:calc(80vw);
  margin-left:10%;
  margin-top:5%;
  height: calc(40vw);
  background-color: whitesmoke;
  margin-bottom:5%;
}
.textfield{
    width:calc(60vw);
    margin-left:calc(10vw);
    padding-left:calc(10vw);
    padding-right:calc(10vw);
    padding-top:calc(1vw);
    margin-top:calc(6vw);
    padding-bottom:calc(5vw);
    background-color: whitesmoke;
    margin-bottom:calc(5vw);
    margin-right:calc(5vw);
    font-size:calc(1.3vw);
}
.textfield h2{
  font-size:calc(1.5vw);
}
.textfield img{
  width:calc(80vw);
  margin-left:calc(-10vw);
  margin-top:calc(-1vw);
  margin-bottom:calc(2vw);
}
.leftimg{
  height:calc(40vw);
  width: calc(30vw);
  position:absolute;
  right:calc(58.8vw);
  overflow:hidden;
}
h4{
  font-size: calc(1.5vw);
  font-weight: 100;
}
ul, li{
list-style-type: none;
font-size: calc(1.3vw);
line-height:calc(1.7vw);
padding: 0;
}
.leftimg img{
  height:100%;
}
.rightimg{
  width:auto;
  height:100%;
  float:right;
  margin-left:2%;
}
.rightimg img{
  height:100%;
}
.righttext{
  padding-top:2%;
  width:calc(44vw);
  margin-right:5%;
  float:right;
  font-size:calc(1.5vw);
}
.lefttext{
  padding-top:2%;
  width:calc(44vw);
  margin-left:5%;
  float:left;
  font-size:calc(1.5vw);
}
.lefttext table{
  border-top:black;
}
.lefttext th, .lefttext td{
  width:20%;
  font-size:calc(1.5vw);
  line-height:calc(2vw);
}
.rightimglefttext{
  width:calc(80vw);
  margin-left:10%;
  margin-top:5%;
  height: calc(40vw);
  background-color: whitesmoke;
  margin-bottom:5%;
}
.kontakt{
  padding-top:calc(1vh);
  width:calc(80vw);
  margin-left:10%;
  margin-top:5%;
  height: calc(40vw);
  background-color: whitesmoke;
  margin-bottom:5%;
}
.kontakt h2{
  margin-left:5%;
}
.kontakt .left{
  padding:calc(2vw);
  padding-bottom: 0;
  background-color: white;
  width:calc(31vw);
  height:calc(29vw);
  margin-left:calc(3vw);
  margin-right:calc(2vw);
  text-align: justify;
  float:left;
  font-size:calc(1.5vw);
}
.kontakt .right{
  padding:calc(2vw);
  padding-bottom:0;
  background-color: white;
  width:calc(31vw);
  height:calc(29vw);
  margin-left:calc(2vw);
  margin-right:calc(3vw);
  text-align: justify;
  float:left;
  font-size:calc(1.5vw);
}
h2{
  font-size:calc(2.5vw);
}
footer{
  font-size:calc(1.2vw);
  height:calc(8vh);
  width:calc(102vw);
  padding:calc(1vw);
  margin-left:calc(-1vw);
  margin-top:calc(15vh);
  margin-bottom:calc(-1vw);
  background-color:whitesmoke;
}
footer span{
  margin-right:calc(4.2vw);
  margin-left:calc(4.2vw);
}
footer a{
  color:black;
}
p2{
  font-size:calc(1vw);
  line-height:calc(1.5vw);
}
#topnav{
  height: calc(0vh);
}
}
@media all and (orientation:portrait) {
  body{
     overflow-x:hidden;
     font-family:Arial;
     padding-top:0;
     letter-spacing: calc(0.09vw);
     position:absolute;
   }
   #topnav{
    display:block;
    height:calc(8vh);
   }
   .topnav {
    background-color: #FFFFFF;
    position: fixed;
    top:calc(0vh);
    width:calc(104.5vw);
    left:calc(-2.5vw);
    height:calc(8vh);
    z-index:32;
    box-shadow: 0px 3px 10px rgb(105, 105, 105);
    transition:0.5s;
  }
  
  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display: none;
    position: absolute;
    bottom:calc(12vh);
    left:calc(8vh);
    height:60%;
    width:calc(20vh);
    z-index:10000;
    transition:0.5s;
  }
  .topnav #myLinks span{
    display: block;
    width:100%;
    letter-spacing: calc(0.5vh);
  }
  
  /* Style navigation menu links */
  .topnav a {
    color: black;
    padding: 14px 16px;
    font-size: calc(4vw);
    float:left;
    display: block;
  }
  
  /* Style the hamburger menu */
  .topnav img {
    background-color: #00000000;
    display: block;
    position: absolute;
    height:calc(5vh);
    width:calc(5vh);
    right: calc(7vw);
    top: calc(1.4vh);
  }
   div.header {
    display: none;
       }
   div.header span{
     position:relative;
     margin-right:calc(3.1vw);
     margin-left:calc(3.1vw);
   }

   div.header span a{
       text-shadow: calc(0.1vw) calc(0.1vw) #000000;
       color:white;
       text-decoration: none;
       font-size:calc(1.45vw);
       font-weight: 100;
       letter-spacing: calc(0.3vw);
   }
     
   div.header::after {
       content: " ";
       display: inline-block;
       width: calc(100vw);
   }
   #logo{
     transition:0.3s;
     position:fixed;
     top:calc(0.5vh);
     width:calc(7vh);
     left:calc(3.5vh);
     z-index:101;
   }
   #logoi{
    transition:0.3s;
    position:fixed;
    top:calc(0.5vh);
    width:calc(7vh);
    left:calc(3.5vh);
    z-index:101;
   }
   .closethree{
    position:absolute;
    display:none;
    cursor:pointer;
    padding: 0;
    border: none;
    background: none;
    font-size: calc(4vw);
    left:calc(2vw);
    color: grey;
  }
   div.img img{
       display: block;
       margin-left: calc(-2.2vw);
       margin-right: auto;
       z-index: 30;
       margin-top:calc(6vh);
       width:calc(102vw);
   }
   .title{
       position:absolute;
       font-size:calc(2vw + 2vh);
       color:white;
       text-shadow:calc(0.1vw) calc(0.1vw) black;
       font-weight:bold;
       letter-spacing: calc(0.3vw);
       line-height:calc(10vw);
       left:calc(4vw);
       top: calc(35vw);
       z-index:31;
   }
   .seperator{
  display:none;
   }
   div.threeparts{
     z-index: -1;
       padding-top:1%;
       text-align: center;
       display: block;
       width: calc(65vw);
       margin-bottom:5%;
   }
   h3{
     margin-top:calc(1vh);
     font-size:calc(2vh);
     margin-bottom:calc(1.3vw);
   }
   div.threeparts div.left{
       background-color: whitesmoke;
       width:calc(77vw);
       left:5%;
       position:relative;
       padding-bottom:5%;
       transition:0.5s;
       margin-top:calc(15vh);
       margin-left:10%;
   }
   div.threeparts div.mid{
    background-color: whitesmoke;
    width:calc(77vw);
    left:5%;
    padding-bottom:5%;
    position:relative;
    transition:0.5s;
    margin-left:10%;
    margin-top:calc(15vh);
  }
   div.threeparts div.right{
    background-color: whitesmoke;
    width:calc(77vw);
    left:5%;
    padding-bottom:5%;
    position:relative;
    transition:0.5s;
    margin-left:10%;
    margin-top:calc(15vh);
  }
   .orgimg{
       width:100%;
       height:auto;
       margin-bottom:0;
       transition:0.5s;
   }
   .altimg{
       width:40%;
       height:auto;
       margin-top:-7%;
   }
   .text{
     width:90%;
     height: 51%;
     overflow:hidden;
   }
   div.threeparts div.text{
     margin-left:5%;
     margin-right:5%;
     text-align: justify;
     line-height:calc(5vw);
     font-size:calc(1.5vh);
   }
   .top{
     width:calc(100vw);
   }

.imglefttextright{
 width:calc(80vw);
 margin-left:10%;
 margin-top:5%;
 height: calc(40vw);
 background-color: whitesmoke;
 margin-bottom:5%;
}
.textfield{
   width:calc(60vw);
   margin-left:calc(9vw);
   padding-left:calc(10vw);
   padding-right:calc(10vw);
   padding-top:calc(1vw);
   margin-top:calc(16vw);
   background-color: whitesmoke;
   margin-bottom:calc(5vw);
   padding-bottom:calc(5vh);
   margin-right:calc(5vw);
   font-size:calc(1.4vh);
   text-align: left;
}
.textfield h2{
  margin-top:calc(4vh);
 font-size:calc(1.7vh);
 text-align: center;
}
.textfield img{
 width:calc(80vw);
 margin-left:calc(-10vw);
 margin-top:calc(-1vw);
 margin-bottom:calc(2vw);
}
.leftimg{
 height:calc(40vw);
 width: calc(30vw);
 position:absolute;
 right:calc(58.8vw);
 overflow:hidden;
}
h4{
 font-size: calc(1.5vw);
 font-weight: 100;
}
ul, li{
list-style-type: none;
font-size: calc(1.3vw);
line-height:auto;
padding: 0;
}
.leftimg img{
 height:100%;
}
.rightimg{
 width:auto;
 height:100%;
 float:right;
 margin-left:2%;
}
.rightimg img{
 height:100%;
}
.righttext{
 padding-top:2%;
 width:calc(44vw);
 margin-right:5%;
 float:right;
 font-size:calc(1.5vw);
}
.lefttext{
 padding-top:2%;
 width:calc(44vw);
 margin-left:5%;
 float:left;
 font-size:calc(1.5vw);
}
.lefttext table{
 border-top:black;
}
.lefttext th, .lefttext td{
 width:20%;
 font-size:calc(1.5vw);
 line-height:calc(2vw);
}
.rightimglefttext{
 width:calc(80vw);
 margin-left:10%;
 margin-top:5%;
 height: calc(40vw);
 background-color: whitesmoke;
 margin-bottom:5%;
}
.kontakt{
 padding-top:calc(1vh);
 width:calc(80vw);
 margin-left:10%;
 margin-top:5%;
 height: calc(40vw);
 background-color: whitesmoke;
 margin-bottom:5%;
}
.kontakt h2{
 margin-left:5%;
}
.kontakt .left{
 padding:calc(2vw);
 padding-bottom: 0;
 background-color: white;
 width:calc(31vw);
 height:calc(29vw);
 margin-left:calc(3vw);
 margin-right:calc(2vw);
 text-align: justify;
 float:left;
 font-size:calc(1.5vw);
}
.kontakt .right{
 padding:calc(2vw);
 padding-bottom:0;
 background-color: white;
 width:calc(31vw);
 height:calc(29vw);
 margin-left:calc(2vw);
 margin-right:calc(3vw);
 text-align: justify;
 float:left;
 font-size:calc(1.5vw);
}
h2{
 font-size:calc(2.5vw);
}
footer{
  position: relative;
 font-size:calc(1.2vw);
 height:calc(20vh);
 width:calc(104.5vw);
 left:calc(-5vw);
 padding:calc(1vw);
 font-size: calc(2vh);
 text-align: center;
 margin-top:calc(5vh);
 margin-bottom:calc(-1vw);
 background-color:whitesmoke;
}
footer span{
margin: auto;
 display: block;
 line-height:calc(4vh);
 width:60%;
}
footer a{
 color:black;
}
}